---
layout: default
---
<div class="{{ page.store_type }}">
  {% include store/header.html type=page.store_type header_image=page.header_image title=page.store_title description=page.store_description %}

  <div class="container" >
    <div class="store-search">
      <input type="text" id="storeSearchInput" placeholder="SEARCH FOR A STORE">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="11" cy="11" r="6" stroke="#222222"/>
        <path d="M20 20L17 17" stroke="#222222" stroke-linecap="round"/>
      </svg>
    </div>

    {% assign stores = site[page.collection_name] | sort: "date" | reverse %}
    {% for store in stores %}
      {% include store/card.html store=store type=page.store_type %}
    {% endfor %}
  </div>
</div>

<script src="{{ '/assets/js/store/search.js' | relative_url }}"></script>
