<link href="https://api.mapbox.com/mapbox-gl-js/v3.17.0/mapbox-gl.css" rel="stylesheet">
<script src="https://api.mapbox.com/mapbox-gl-js/v3.17.0/mapbox-gl.js"></script>

{% comment %}Build store data as JSON from all collections{% endcomment %}
{% assign all_stores = site.shops | concat: site.galleries | concat: site.foods %}

<div id="map" style="width: 100%; height: 500px;" data-stores='[{% for store in all_stores %}{% if store.coordinates %}{"title":"{{ store.title | escape }}","subtitle":"{{ store.subtitle | escape }}","coordinates":"{{ store.coordinates }}"}{% unless forloop.last %},{% endunless %}{% endif %}{% endfor %}]'></div>

<script>
  (function() {
    var mapEl = document.getElementById('map');
    var stores = JSON.parse(mapEl.dataset.stores || '[]');

    mapboxgl.accessToken = 'pk.eyJ1IjoiZ2FsdWxleCIsImEiOiJjamx6ampoZjgyMnYxM3FvZ2ppNjV2M2x5In0.bPgk2WI9NT-DJwnE-OtiLA';
    var map = new mapboxgl.Map({
      container: 'map',
      style: 'mapbox://styles/galulex/cmjjuexff009w01qz4awigw0q',
      center: [-111.7635298, 34.8623132],
      zoom: 18,
      pitch: 45,
      bearing: -17,
      antialias: true
    });

    stores.forEach(function(store) {
      var coords = store.coordinates.split(',').map(function(c) { return parseFloat(c.trim()); });
      new mapboxgl.Marker({ color: 'red', scale: 2 })
        .setLngLat(coords)
        .setPopup(
          new mapboxgl.Popup({ offset: 25 })
            .setHTML('<h3>' + store.title + '</h3><p>' + store.subtitle + '</p>')
        )
        .addTo(map);
    });
  })();
</script>
