{% comment %}
  Store listing header. Pass type, icon, label, title, description, header_image, header_image_alt.
{% endcomment %}
<img src="{{ '/assets/images/' | append: include.header_image | relative_url }}" alt="{{ include.header_image_alt }}" width="1200">
<div class="header-icon icon-{{ include.type }}">
  {% capture icon_path %}icons/windows/{{ include.type }}.svg{% endcapture %}
  {% include {{ icon_path }} %}
  {{ include.label }}
</div>
<div class="header-content">
  <h2>{{ include.title }}</h2>
  <p>{{ include.description }}</p>
</div>
