/* CSS Reset */

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}
/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}
/* 6. Improve media defaults */
img,
picture,
video,
canvas {
  display: block;
  max-width: 100%;
}
/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}
/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/* 9. Improve line wrapping */
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}
/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* Fonts */

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/Montserrat-Regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: url("/assets/fonts/Montserrat-Medium.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: url("/assets/fonts/Montserrat-SemiBold.woff2") format("woff2");
  font-display: swap;
}

/* Container */

.container {
  padding: 0 20px;
  display: grid;
}

/* Buttons */

.btn {
  display: inline-block;
  padding: 12px 24px;
  font-size: 1.333rem;
  letter-spacing: 3%;
  line-height: 1.833rem;
  font-weight: 500;
  text-decoration: none;
  text-align: center;
  border-radius: 3px;
  cursor: pointer;
  border: none;
  transition: background-color 0.2s ease;
  margin: 0.75rem 0;
}

.btn-primary {
  background-color: var(--pink);
  color: var(--cream);
}

.btn-primary:hover {
  background-color: var(--pink-80);
}

.btn-secondary {
  background-color: transparent;
  color: var(--navy);
  border: 1px solid var(--navy);
}

.btn-secondary:hover {
  background-color: var(--navy);
  color: var(--cream);
}

.btn-pink {
  display: block;
  width: fit-content;
  margin: 0 auto;
  background-color: var(--pink-80);
  color: var(--cream);
}

.btn-pink:hover {
  background-color: var(--pink-60);
}

section {
  padding: 0 25px;
}

hr {
  height: 1px;
  background-color: var(--navy);
  border: none;
}

.mapboxgl-marker svg {
  all: unset;
}

.top-section {
  background: #9926B733;
}

h2 {
  margin: 0.75rem 0;
  font-family: Big Caslon;
  font-weight: 500;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: 4%;
}

h3 {
  margin: 0.75rem 0;
  font-family: Big Caslon;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 4%;
}

h5 {
  gap: 0.725rem;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  margin: 1.5rem 0 0.75rem 0;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 5%;
}

h6 {
  font-size: 1.333rem;
  margin: 0.75rem 0;
  letter-spacing: 3%;
  line-height: 1.833rem;
}

p {
  margin: 0.75rem 0;
  text-wrap: pretty;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 4%;
}
