footer {
  address {
    font-style: normal;
  }

  div {
    display: flex;
    border-top: 0.75px solid var(--secondary);
    border-bottom: 0.75px solid var(--secondary);
    padding: 2rem 0;
    margin: 2rem 0;
  }

  p {
    margin: 1rem 0;

    &:first-of-type {
      margin-top: 0;
    }
  }

  nav {
    flex: 1;

    &:first-child {
      border-right: 0.75px solid var(--secondary);
    }

    &:last-child {
      padding-left: 2rem;
    }

    a {
      display: block;

      &.social {
        background: var(--secondary);
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        margin-right: 1.5rem;

        svg {
          max-width: 100%;
          max-height: 100%;
          fill: var(--primary);
        }

        &.facebook svg {
          transform: translateY(6px);
        }
      }
    }
  }

  a {
    color: var(--secondary);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  button {
    background: var(--secondary);
    color: var(--primary);
    border: transparent;
    border-radius: 0.25rem;
    padding: 10px 15px;
    font-size: 1rem;
    text-align: left;
    line-height: 15px;
  }

  hr {
    border: none;
    border-top: 2px solid var(--cream);
    height: 5px;
    margin: 1rem 0;
    border-bottom: 0.75px solid var(--cream);
  }
}
