footer {
  address {
    font-style: normal;
  }

  div {
    border-top: 0.75px solid var(--secondary);
    border-bottom: 0.75px solid var(--secondary);
    padding: 2rem 0;
    margin: 2rem 0;
  }

  nav {
    display: inline-block;
    width: 50%;
    vertical-align: top;

    &:first-child {
      border-right: 0.75px solid var(--secondary);
    }

    &:last-child {
      padding-left: 2rem;
    }

    a {
      display: block;

      &.social {
        background: var(--secondary);
        padding: 1rem;
        border-radius: 50%;
        display: inline-block;
        color: var(--primary);
        margin: 0;
        margin-right: 0.5rem;
      }
    }
  }

  a {
    color: var(--secondary);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  button {
    background: var(--secondary);
    color: var(--primary);
    border: transparent;
    border-radius: 0.25rem;
    padding: 10px 15px;
    font-size: 1rem;
    text-align: left;
    line-height: 15px;
  }

  hr {
    border: none;
    border-top: 2px solid var(--cream);
    height: 5px;
    margin: 1rem 0;
    border-bottom: 0.75px solid var(--cream);
  }
}
