---
layout: default
---
<div class="top-section">
  {% if page.thumbnail %}
    <img src="{{ page.thumbnail }}" alt="{{ page.title }}">
  {% else %}
    <img src="{{ '/assets/images/placeholder.webp' | relative_url }}" alt="{{ page.title }}">
  {% endif %}

  <section>
    <h3>{{ page.title }}</h3>
    <div class="details">
      {% if page.author %}
      <div>
        <span class="icon">{% include icons/windows/dark_blue.svg %}</span>
        <span>{{ page.author | upcase }}</span>
      </div>
      {% endif %}

      {% if page.published_at %}
      <div>
        <span class="icon">{% include icons/calendar.svg %}</span>
        <span>{{ page.published_at | date: "%B %-d, %Y" | upcase }}</span>
      </div>
      {% endif %}
    </div>
  </section>
</div>

<section class="article-content">
  {{ content }}
</section>
